



  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="goodnew-link">

        <a href="<%= goodnews.linkurl %>" target="_blank">
          <img src="<%= goodnews.linkimage %>" alt="...">
        </a>
      </div>

      <div class="caption">

        <h3>
          <a href="<%= goodnews.linkurl %>" target="_blank"><%= goodnews.title %></a>
        </h3>
        <p><%= goodnews.except %></p>
      </div>
    </div>
  </div>
