
<%= link_to "edit", edit_goodnews_path %>
<%= link_to "delete", @goodnews, method: :delete,
data: { confirm: "You sure?" } %>



<%= render 'shared/header' %>

<div class="container">

    <p><%= @goodnew.title %></p>

    <p><%= image_tag @goodnew.linkimage %></p>

    <p><%= @goodnew.linkurl %></p>



</div>







<%= render 'shared/footer' %>
