<%= render 'shared/header' %>


<div class="container">



<div class="row ijin-show-main">


  <div class="ijin-wrapper">


        <div class="col-md-5 ijin-contents">

          <h1><%= @ijin.name %></h1>
          <%= simple_format(@ijin.contents) %>
        </div>

        <div class="col-md-5 ijin-image">

        <%= image_tag @ijin.ijinimage %>

        </div>

      </div>


</div>
<!-- row -->

</div>
<!-- container -->












</div>





<%= render 'shared/footer' %>
