<%= link_to "edit", edit_ijin_path %>
<%= link_to "delete", @ijin, method: :delete,
data: { confirm: "You sure?" } %>




<%= render 'shared/header' %>


<div class="container">



<div class="row ijin-show-main">


  <div class="ijin-wrapper">


        <div class="col-md-5 ijin-contents">

          <h1><%= @ijin.name %></h1>
          <p>
            <%= simple_format(@ijin.contents) %>
          </p>

      <p class="ijin-sns"><%= render 'sns/twitter' %></p>

        </div>

        <div class="col-md-5 ijin-image">

        <%= image_tag @ijin.ijinimage %>

        </div>

      </div>


</div>
<!-- row -->

</div>
<!-- container -->












</div>





<%= render 'shared/footer' %>
