
<%= render 'shared/header' %>


<div class="container">
  <h1>編集</h1>



      <%= form_for @book do |f| %>

      <%= f.label :タイトル %><br>

      <%= f.text_field :title %><br>

      <%= f.label :画像イメージ %><br>

      <%= f.file_field :bookimage %><br>


      <%= f.label :アマゾンアフィリ %><br>

      <%= f.text_area :image %><br>



      <%= f.label :コンテンツ %><br>

      <%= f.text_area :contents ,:size=>"130x10"%><br>



      <%= f.submit '送信' %>



      <% end %>







</div>



<%= render 'shared/footer' %>
