<%= link_to "edit", edit_book_path %>
<%= link_to "delete", @book, method: :delete,
data: { confirm: "You sure?" } %>




<%= render 'shared/header' %>



<div class="container">

  <div class="row book-show-main">

    <div class="col-md-4 book-show-image">
      <%= simple_format(@book.image) %>

    </div>

    <div class="col-md-8 book-show-contents">

      <h2>
        <%= @book.title %>
      </h2>

      <p>
        <%= simple_format(@book.contents) %>
      </p>

    </div>

  </div>
<!-- row -->





</div>



<%= render 'shared/footer' %>
