
<%= render 'shared/header' %>



<div class="container">

  <div class="row">

    <div class="book-show-main">


    <div class="col-md-4 book-show-image">
      <%= simple_format(@book.image) %>

    </div>

    <div class="col-md-8 book-show-contents">

      <h2>
        <%= @book.title %>
        <%= image_tag @book.bookimage %>

      </h2>

      <p>
        <%= simple_format(@book.contents) %>
      </p>

    </div>

  </div>
  <!-- book-show-main -->

  </div>
<!-- row -->





</div>



<%= render 'shared/footer' %>
