<%= render 'shared/header' %>


    <div class="container">

      <div class="knowledge-show">


      <p class="knowledge-show-date"><%= @knowledge.created_at.strftime('%Y年%m月%d日') %></p><br>


      <h2><%= @knowledge.title %></h2><br>

      <p><%= simple_format(@knowledge.contents) %></p><br>


    </div>



    </div>



<%= render 'shared/footer' %>
