<!DOCTYPE html>
<html>
  <head>

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-6579111049596937",
        enable_page_level_ads: true
      });
    </script>

    <title>鬱になった天才たち</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag('sakura.ico') %>



  </head>

  <body>
    <%= yield %>
